<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>URL Shorten</title>
</head>

<header>
  <div class="container">
    <h1><a href="/" class="title">縮網址服務</a></h1>
    <img src="image/top_img.png" alt=""
      class="top-img">

    
    <form action="/shorten" class="input-container">
      <input required="" name="url" type="url" class="input-url" placeholder="貼上網址連結">
      <button type="submit" class="shorten-btn">啟動</button>
    </form>      
    

  </div>
</header>

<body>

    {{{body}}}

</body>
</html>